<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		
	</head>
	<body class="center">
		<header id="banner">
			<h1>Webserver</h1>
			<nav> 
				<ul>
					<li><a href="/">Home</a></li>
					<li ><a href="/dataPage">Data</a></li>
					<li><a href="/login">Login</a></li>
					<li><a href="/session">Sessions</a></li>
					<li><a href="/chat">Chat</a></li>
				</ul>
			</nav>
		</header>
		<section id="content">
			<h1><%=title %></h1>
		</section>
	</body>
</html>
