<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<script src="/javascripts/jquery.js"> </script>
		<script src="/javascripts/socket.io.js"></script>
	</head>
	<body class="center">
		<header id="banner">
			<h1>Webserver</h1>
			<nav> 
				<ul>
					<li><a href="/">Home</a></li>
					<li class="active"><a href="/createSession">Session erstellen</a></li>
					<li><a href="/joinSession">Session beitreten</a></li>
					<li><a href="/howTo">HowTo</a></li>
				</ul>
			</nav>
		</header>
		<section id="content">
			<h2>Session erstellen Test</h2>
			<p>Erstellen Sie eine neue Session, indem Sie ihr einen Namen geben und durch ein Passwort sichern.</p>
			<form action="/sessionSetup" method="post">
				<p>
					<label>Name der Session</label>
					<input type="text" name="sessionName"/>
				</p>
				<p>
					<label>Passwort </label>
					<input type="password" name="sessionPw"/>
				</p>
				<p>
					<input type="submit" value="Erstellen"/>
				</p>
			</form>
		</section>
	</body>
</html>
