extends layout

block content
	header#banner
		h1 Webserver
		nav 
			ul
				li: a(href="/") Home
				li: a(href="/createSession") Session erstellen
				li: a(href="/joinSession") Session beitreten
				li.active: a(href="/howTo") HowTo
	section#content
		script(src='/javascripts/chat.js')
		p 
			ul#incomingChatMessages
		p 
			input(type="text", id="outgoingChatMessage")