<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="/stylesheets/style.css">
		<script src="/javascripts/jquery.js"></script>
		<script src="/javascripts/jcanvas.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/javascripts/game.js"></script>
	</head>
	<body class="center">
		<header id="banner">
			<h1>Session</h1>
			<nav> 
				<ul>
					<li><a href="/">A</a></li>
					<li><a href="/">B</a></li>
					<li><a href="/">C</a></li>
					<li><a href="/">D</a></li>
				</ul>
			</nav>
		</header>
		<section id="content">
			<p id="test1"></p>
			<p id="test2"> </p>
			<p id="test3"></p>
			<p> 
				<ul id="inMsg"></ul>
			</p>
			<p> 
				<input type="text" id="outMsg">
			</p>
		</section>
	</body>
</html>